exportPattern("^[[:alpha:]]+")
importFrom("stats", "dnorm", "rnorm", "sd")
importFrom("utils", "head")
importFrom("readr", "read_csv")
importFrom("dplyr", "%>%", "arrange")
export(initialise)
export(expector)
export(maximiser)
export(teamEM)
export(generateDataset)
export(findLogLikelihood)
